* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.attribution {
  font-size: 15px;
}

.attribution a {
  color: #3e52a3;
}

#logo {
  margin: 3.5rem;
  width: 20%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  background-image: url("../Imgs/bg-pattern-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

body main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 20% 1fr 1fr 5%;
      grid-template-rows: 20% 1fr 1fr 5%;
  gap: 2px;
      grid-template-areas: " logo  side-B" " side-A  side-B" " side-A  side-B" " footer  side-B";
}

body main .side-A {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: side-A;
}

body main .side-A h1 {
  padding: 0.4em 2rem;
  text-transform: uppercase;
  font-size: 4vw;
  color: #ce9797;
  font-weight: 600;
}

body main .side-A h1 span {
  display: block;
  padding-top: 2px;
  color: #413a3a;
  margin-bottom: 3rem;
}

body main .side-A > p {
  width: 25em;
  padding: 2em;
}

body main .side-A form {
  position: relative;
}

body main .side-A form input {
  padding: 0.75em 4em;
  margin: 4.1rem 2rem;
  border-radius: 26px;
}

body main .side-A form button {
  height: 5.8vh;
  position: absolute;
  border: 2px solid;
  bottom: 65px;
  left: 255px;
  background-color: #f96262;
  padding: 0.73em 2em;
  border-radius: 26px;
}

body main footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: footer;
}

section.side-B {
  background-image: url("../Imgs/hero-desktop.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 2;
  grid-area: side-B;
  background-size: 100% 100%;
}

@media (max-width: 400px) {
  body main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        grid-template-areas: "logo" "side-B" "side-A" "footer";
  }
  body main section.side-B {
    background-image: url(../Imgs/hero-mobile.jpg);
    width: 100vw;
    height: 50vh;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: side-B;
  }
  body main section.side-A {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: side-A;
  }
  body main section.side-A h1 {
    font-size: 10vw;
    text-align: center;
  }
  body main section.side-A > p {
    font-size: 4vw;
  }
  body main section.side-A form input, body main section.side-A form button {
    font-size: 4vw;
    height: auto;
  }
  body main footer {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: footer;
  }
  body main footer a {
    display: block;
    text-align: center;
    white-space: nowrap;
  }
  body main div#logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: logo;
    height: 2vh;
  }
}

@media (max-width: 300px) {
  body main section.side-A button {
    display: block;
    height: 5.8vh;
    position: absolute;
    border: 2px solid;
    bottom: 20px;
    left: 30vw;
    padding: 1em 5em;
  }
}
/*# sourceMappingURL=main.css.map */