$font-family:'Josefin Sans', sans-serif;
$font-weight:(
    "light": 300,
    "regular": 400,
    "bold": 600,
);
$font-size: 1em;
$first-text-color: hsl(0, 36%, 70%);
$second-text-color:hsl(0, 6%, 24%);
$button-bg-color: hsl(0, 93%, 68%);